{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="static/styles/collection.css"> 
{% endblock %}

{% block paragraph %}

<div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h2 class="card-title">A work in progress</h2>
      <h6 class="card-subtitle mb-2 ">this isn't finished!</h6>
      <p class="card-text">This page is is going to allow CSV uploads to track collection values. I'm rebuilding the feature after making changes to the way dates are stored,
          so it's going to take some time to get it working.
      </p>
    </div>
  </div>


<div class="row">
    <div class="col-sm-6 col-md-6">

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Add a card to your collection</h5>
                    <p class="card-text">Your collection's value changes every day.
                         Mimicvat tracks the value of your cards by scraping the tcgplayer.com market value
                        every day, and lets you know when prices spike.</p>
            <form class="form-inline mt-2 mt-md-0" method="POST" action="/collection">
                <input class="form-control mr-sm-2 mb-1" type="text" placeholder="name" aria-label="watchlist" name="name-form" list="card_names">
                <input class="form-control mr-sm-2 mb-1" type="text" placeholder="set" aria-label="watchlist" name="set-form">
                <input class="form-control mr-sm-2 mb-1" type="text" placeholder="cost" aria-label="watchlist" name="cost-form">
                <input class="form-control mr-sm-2 mb-1" type="text" placeholder="number purchased" aria-label="watchlist" name="number-form">
                <div class="card-body">
                <button class="btn btn-primary mb-2" type="submit">add card</button>
                <button class="btn btn-primary mb-2" onclick="alert('bulk import was clicked')" type="submit_csv">bulk import with csv</button>
                <input type="file" class="form-control" id="customFile" />
                </div>
              </form>

<datalist id="card_names" size="8">
    {% for name in card_names %}
    <option value="{{name}}"></option>
    {% endfor %}
</datalist>


                </div>
            </div>
            <div class="card collres mb-3">
              <table>
              <tr>
                <td><b>total msrp:</b></td>
                <td>${{total_msrp}}</td>
                <td><b>total paid:</b></td>
                <td>${{total_paid}}</td>
            </tr>
            <tr>
                <td><b>dollars made:</b></td>
                <td>${{(total_msrp-total_paid)|int}}</td>
                <td><b>percent:</b></td>
                <td>{{perc}}%</td>
            </tr>
        </table>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Card name</th>
                        <th scope="col"style="text-align:right;">Code</th>
                        <th scope="col"style="text-align:right;">Cost</th>
                        <th scope="col">Number owned</th>
                    </tr>
                </thead>
                <tbody>
                {% for card in collection_rows %}
                    <tr>
                    <!--<td></td>-->
                        <td><a href="/search/{{card["CARD_ID"]}}">{{card["NAME"]}}</a></td>
                        <td style="text-align:right;">{{card["code"]}}</td>
                        <td style="text-align:right;">{{card["msrp"]}}</td>
                        <td style=text-align:right;>{{card["number_owned"]}}</td>
                        <td>
                            <form action="/collection" method="POST">
                                <input class="form-control mr-sm-2" type="hidden" placeholder="Search" aria-label="Search" name="removeCard" value="{{card["transaction_id"]}}">
                                <button class="btn btn-primary mb-2" type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
            <!-- this is the highchart javascript -->
            <div class="col-md-auto">
                <div id={{ chartID|safe }} class="shadow chart" style="height: 500px; width: 500px;"></div>
                    <script>
                        var chart_id = {{ chartID|safe }}
                        var series = {{ series|safe }}
                        var title = {{ title|safe }}
                        var xAxis = {{ xAxis|safe }}
                        var yAxis = {{ yAxis|safe }}
                        var chart = {{ chart|safe }}
                        var credits = { "enabled":false }
                        var legend = { "enabled":false }
                        var backgroundColor = 'f5f5f5'
                    </script>
            </div>
</div>
{% endblock %}

{% block graph %}
{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}