{% extends "layout.html" %}

{% block paragraph %}
Decklists.
{% endblock %}

{% block graph %}


<div class="container">

<table class="table">
    <tbody>
<thead>
    <tr>
    </tr>
  </thead>
{% for row in deck_meta %}
<tr>
<!--<td></td>-->
 <td>{{row[0]}}</td>
 <td>{{row[1]}}</td>
 <td>{{row[2]}}</td>
 <td><a href="/decks/{{row[4]}}">{{row[5]}}</a></td>
 <td>{{row[6]}}</td>

</tr>
{% endfor %}



</tbody>
</table>
</div>








<!--- card version of images


<div class="row p-5">

    {%for card in top_10%}
    <div class="col">
        <div class="card" style="width:200px">
            <img class="card-img-top" src={{card[0]}} alt="Card image cap">
            <a href="/search/{{card[3]}}" class="btn btn-primary stretched-link">{{card[1]}}</a>
            <div class="card-body">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
--->



{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}