{% extends "layout.html" %}
{% block navbar_brand %}Mimicvat{% endblock %}
{% block heading %}Mimicvat card analysis {% endblock %}
{% block head %}<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles/speechbub.css">
{% endblock %}
{% block paragraph %}
This application scrapes scryfall for Magic the Gathering card information and prices. It uses Flask, sqlite, highcarts, and bootstrap to display charts and tables of that data.</p>
<p>The objective of this application is to track price information and alert the user when a card spikes in value. Also, the application informs them of associated cards that may also increase in value.
I gather pricing data daily of both the normal and foil version, I gather popularity from edhrec.com, and I plan to scrape ebay for daily average supply of cards to monitor the supply/demand. I also
calculate the average weekly price and standard deviation of cards to tell if they are increasing or decreasing in value over time. The user is informed to buy a card that is climbing (or plateaued)
in value, as well as sell if the price is dropping.</p> <p>The languages I used for this application include: python, html, javascript, and sql.

<center><p><a class="btn btn-primary" style=margin:20px href="https://github.com/ticlifford/mimicvat" role="button">Click here for the github link</a></p></center>


{% endblock %}

{% block graph %}
<div div class="container">
<div class="jumbotron width=70%">
    <h1 class="display-4">Here's an example</h1>
    <p class="lead">This is one of my favorite cards. On the right is a highcart that shows how the price is trending.</p>
    <hr class="my-4">
    <div class="row justify-content-around">
        <div class="col-md">
            <center>
            <p>Land tax</p>
            <p>set:battlebond</p>
            <p><img src={{imageUrl}} class="center-block cardim" alt="card image goes here" width=50% style="-webkit-border-radius: 4.75% / 3.5%; box-shadow: 1px 1px 6px rgba(0,0,0,0.45);"></p>
            </center>
        </div>

        <div class="col-md">
            <div id={{ chartID|safe }} class="shadow chart" style=" border-radius: 5px;"></div>

            <script>
                var chart_id = {{ chartID|safe }}
                var series = {{ series|safe }}
                var title = {{ title|safe }}
                var xAxis = {{ xAxis|safe }}
                var yAxis = {{ yAxis|safe }}
                var chart = {{ chart|safe }}
                var credits = { "enabled":false }
                var legend = { "enabled":false }
                var backgroundColor = 'f5f5f5'
            </script>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md">
            <div class="speech-bubble">Here's a card, it has all types of data points on it such as name, color, type, etc.</div>
        </div>
        <div class="col-md">
            <div class="speech-bubble">This is pricing data projected over time. To see how I collect this data, or if you're confused on how the site works, click <a href="/sets">here.</a></div>
        </div>
    </div>
    <p style="text-align: center;">This information is the lowest price this card has sold for over time, and can be used to make informed decisions on buying cards.</p>

</div>
</div>



{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}