{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="static/styles/styles.css"> 
{% endblock %}

{% block paragraph %}
<p>This is a selection of cards on the application so you can get a gist for what the data looks like. 
   You can use this list to test the search function in the top right corner,
   and you can also use it to test the watchlist option by adding and removing cards from this list.
</p>


<table style="white-space: nowrap;">
        <thead>
           <td class="headrow">Name</td>
           <td class="headrow">ID</td>
           <td class="headrow">CMC</td>
           <td class="headrow">Mana cost</td>
           <td class="headrow">Power</td>
           <td class="headrow">Toughness</td>
           <td class="headrow">Color</td>
           <td class="headrow">Card set</td>
           <td class="headrow">Type</td>
           <td class="headrow">Picture URL</td>
        </thead>
        {% for row in rows %}
           <tr>
              <td><a href="search/{{row["ID"]}}">{{row["NAME"]}}</a></td>
              <td>{{row["ID"]}}</td>
              <td> {{ row["CMC"]}}</td>
              <td> {{ row["MANACOST"]}}</td>
              <td> {{ row["POWER"]}}</td>
              <td> {{ row["TOUGHNESS"]}}</td>
              <td> {{ row["COLOR"]}}</td>
              <td> {{ row["CARDSET"]}}</td>
              <td>{{row['TYPE']}}</td>
              <td> {{ row["PICURL"]}}</td>


           </tr>
        {% endfor %}
     </table>

{% endblock %}