{% extends "layout.html" %}

{% block paragraph %}
Biggest price changes this month.
{% endblock %}

{% block nocontainer %}
<div class="container-md" style="padding: 0vw 10vw;">
    <div class="row justify-content-center">
        {%for card in top_10%}
            <div style="padding: 0.2vw 0.2vw;">
                <a href="/search/{{card[3]}}"><img src={{card[0]}} alt="Card image cap" style="width: 10vw;-webkit-border-radius: 4.75% / 3.5%;min-width: 100px;">
                <p>{{card[2]}}x</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}