{% extends "layout.html" %}

{% block paragraph %}
Biggest price changes this month.
{% endblock %}

{% block graph %}

<div class="container">
    
    {%for card in top_10%}

        <div class='row' >
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>{{card[2]|round(2)}}x</h2>
                
            </div>

            <div class="col-sm"> 
                <img class="img-thumbnail" src="{{card[0]}}" > 
                <div class="text-center">
                    <a href="/search/{{card[3]}}" class="btn btn-primary">{{card[1]}}</a>
                    
                </div>
                
            </div>
            
        </div>

    {% endfor %}
</div>





{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}