{% extends "layout.html" %}

{% block heading %}
The Reserve List
{% endblock %}

{% block paragraph %}
<p>The Reserve list in Magic the Gathering is a designation that specific cards will never be reprinted as a method of manufactured scarcity.
 They act as a barometer for the value of old magic formats because you need them to play certain formats. To watch their prices, I've created
a chart that adds all their values together once a day and I chart it, which you can see below.</p>
<br>
<p>Since this website is built off actual transactions in the marketplace,
the values are skewed. Most high end (over two grand roughly) cards aren't sold
on normal Magic card platforms like tcgplayer. There basically isn't a 'going rate' of
the exceptionally high end because condition plays a bigger factor, and cards
are auctioned through other platforms.
</p>
<h1>Biggest price increases this week:</h1>
{% endblock %}

{% block nocontainer %}


<div class="container-md"style="padding: 0vw 10vw;">
<div class="row" >
        {%for card in top_10%}
        <div style="padding:1vw 1vw">
            <div class="d-flex justify-content-center">
                <img src={{card[4]}} alt="Card image cap" style="width: 10vw;min-width: 150px;-webkit-border-radius: 4.75% / 3.5%; box-shadow: 0px 0px 15px rgba(0,0,0,0.45);">
            </div>
            <div class="d-flex justify-content-center" style="padding: .2vw .2vw;">
                <a href="/search/{{card[3]}}" class="btn btn-primary">
                    {{card[1]}}
                </a>
            </div>
        </div>
        {% endfor %}
</div>
</div>

{% endblock %}

{% block graph %}
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table w-auto">
            <thread>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price change</th>
                    <th scope="col">Set name</th>
                </tr>
            </thread>
            <tbody>
                {%for card in top_10%}
                <tr>
                    <td><a href="/search/{{card[3]}}">{{card[0]}}</a></td>
                    <td>{{card[1]}}</td>
                    <td><a href="/setinfo/{{card[2]}}">{{card[2]}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-auto">
        <!-- this is the highchart javascript -->
        <div style="background:#f5f5f5" class="col-md-auto">
            <div id={{ chartID|safe }} class="chart" style="height: 500px; width: 500px;"></div>
                <script>
                    var chart_id = {{ chartID|safe }}
                    var series = {{ series|safe }}
                    var title = {{ title|safe }}
                    var xAxis = {{ xAxis|safe }}
                    var yAxis = {{ yAxis|safe }}
                    var chart = {{ chart|safe }}
                    var credits = { "enabled":false }
                    var legend = { "enabled":false }
                    var backgroundColor = 'f5f5f5'
                </script>
        </div>
    </div>
</div>
</div>

{% endblock %}



{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}