{% extends "layout.html" %}

{% block paragraph %}
<h1>{{fullsetname}}<small>({{setcode}})</small></h1>
<div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h2 class="card-title">A work in progress</h2>
      <h6 class="card-subtitle mb-2 ">this isn't finished!</h6>
      <p class="card-text">This page is designed to be a one page view on each set, showing a visual display of whats in the set and where the value is. I've only just started working on it.</p>
    </div>
  </div>

<table>

    <tr>
        <th>set logo:</th>
        <th><img src="/static/images/set_symbols/{{setname}}.png" alt="set logo"></th>
        </tr>

    <tr>
        <th>cards in set:</th>
        <th>{{numcards}}</th>
    </tr>

    <tr>
    <th>average card price:</th>
    <th>{{setnorm}}</th>
    </tr>

    <tr>
    <th>average foil price:</th>
    <th>{{setfoil}}</th>
    </tr>

    <tr>
    <th>average foil multiplier:</th>
    <th>{{ratio}}</th>
    </tr>
</table>
{% endblock %}
{% block graph %}
<div class="row">

{% for card in carddeck %}
<img src={{card[2]}} class="center-block text-center" alt="card image goes here" width=200px style="-webkit-border-radius: 4.75% / 3.5%; box-shadow: 1px 1px 6px rgba(0,0,0,0.45);">

        <!--<a href="/search/{{card[0]}}" class="btn btn-primary">Go to card info</a>-->
        <!--<h2>${{card[3]}}</h2>-->



<!--
<img src="{{card[2]}}" width=200px alt="card image">
<u>${{card[3]}}</u>
{% endfor %}
</ul>
-->
{% endblock %}

</div>

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}