{% extends "layout.html" %}

{% block paragraph %}

<table>
    <tr>
    <th>set code:</th>
    <th>{{setcode}}</th>
    </tr>

    <tr>
    <th>average card price:</th>
    <th>{{setnorm}}</th>
    </tr>

    <tr>
    <th>average foil price:</th>
    <th>{{setfoil}}</th>
    </tr>

    <tr>
    <th>average foil multiplier:</th>
    <th>{{ratio}}</th>
    </tr>
</table>

<div class="row">

{% for card in carddeck %}
<div class="col-sm-6">
    <div class="card">
        <h5 class="card-header">{{card[1]}}</h5>
      <div class="card-body">
        <p>id value: {{card[0]}}</p>
        <p class="card-text"></p>
        <p><img src={{card[2]}} class="center-block text-center" alt="card image goes here" width=50% style="-webkit-border-radius: 4.75% / 3.5%; box-shadow: 1px 1px 6px rgba(0,0,0,0.45);"></p>
        <a href="/search/{{card[0]}}" class="btn btn-primary">Go to card info</a>
        <p>image address: {{card[2]}}</p>
      </div>
    </div>
  </div>
{% endfor %}

</div>

{% endblock %}

{% block graph %}
{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}