{% extends "layout.html" %}

{% block paragraph %}
<h1>{{fullsetname}}<small>({{setcode}})</small></h1>
<div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h2 class="card-title">A work in progress</h2>
      <h6 class="card-subtitle mb-2 ">this isn't finished!</h6>
      <p class="card-text">This page is designed to be a one page view on each set, showing a visual display of whats in the set and where the value is. I've only just started working on it.</p>
    </div>
  </div>

<table>

    <tr>
        <th>set logo:</th>
        <th><img src="/static/images/set_symbols/{{setname}}.png" alt="set logo"></th>
        </tr>

    <tr>
        <th>cards in set:</th>
        <th>{{numcards}}</th>
    </tr>

    <tr>
    <th>average card price:</th>
    <th>{{setnorm}}</th>
    </tr>

    <tr>
    <th>average foil price:</th>
    <th>{{setfoil}}</th>
    </tr>

    <tr>
    <th>average foil multiplier:</th>
    <th>{{ratio}}</th>
    </tr>
</table>

{% endblock %}

{% block nocontainer %}
    <section>

            {% for row in carddeck|batch(4) %}
                <div class="row d-flex justify-content-center">

                    {% for card in row %}
                    <div style="padding: 5px 5px 5px;">
                    <a href="/search/{{card[0]}}"><img src={{card[2]}} alt="card image goes here" style="-webkit-border-radius: 4.75% / 3.5%; box-shadow: 0px 0px 15px rgba(0,0,0,0.45);width:300px;"></a>
                    <p style="text-align: center;">${{card[3]}}</p>
                </div>


                    {% endfor %}
                </div>
            {% endfor %}

    </section>
{% endblock %}





{% block graph %}
{% endblock %}

{% block bodyText %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
{% endblock %}