{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles/filtertable.css">
{% endblock %}

{% block paragraph %}
<h1>{{fullsetname}}<small>({{setcode}})</small></h1>


<table>

    <tr>
        {# <th><img src="/static/images/set_symbols/{{setname}}.png" onerror="this.onerror=null;this.src='/static/images/set_symbols/onslaught.png';" alt="set logo"></th> #}
        </tr>


    <tr>
        <th>{{numcards}} total cards in set</th>
    </tr>
<!--
    <tr>
    <th>average card price:</th>
    <th>{{setnorm}}</th>
    </tr>

    <tr>
    <th>average foil price:</th>
    <th>{{setfoil}}</th>
    </tr>

    <tr>
    <th>average foil multiplier:</th>
    <th>{{ratio}}</th>
    </tr>
-->
</table>

{% endblock %}

{% block nocontainer %}
<section>


    <div class="container-md" style="padding: 0px 10vw;">
        <div class="container d-flex" style="padding: 2vw 2vw">
            <div id="myBtnContainer">
                <div class="row">
                    <button class="btn activefilter" onclick="filterSelection('all')"> Show all</button>
                    <button class="btn" onclick="filterSelection('common')"> common</button>
                    <button class="btn" onclick="filterSelection('uncommon')"> uncommon</button>
                    <button class="btn" onclick="filterSelection('rare')"> rare</button>
                    <button class="btn" onclick="filterSelection('mythic')"> mythic</button>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        {% for card in carddeck %}
            <div class="filterDiv {{card[4]}}" style="padding: 0px 0.5vw;">
                <a href="/search/{{card[0]}}"><img src={{card[2]}} alt="card image goes here" style="-webkit-border-radius: 4.75% / 3.5%; box-shadow: 0px 0px 15px rgba(0,0,0,0.45); width: 15vw;"></a>
                <p style="text-align: center; {# border:dotted #}">${%if card[3] is none%}{{card[5]}}{% else %}{{card[3]}}{% endif %}</p>
            </div>
        {% endfor %}
    </div>
</div>


</section>
{% endblock %}





{% block graph %}
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
                       <script src="../static/graph.js"></script>
                       <script src="../static/filter.js"></script>
{% endblock %}