{% extends "layout.html" %}

{% block paragraph %}
<p>
    Magic The Gathering is a trading card game which means that it's released
    in themed "sets" about every 6 months. These sets are unified around concepts
    like fairytales or greek mythology. These sets introduce 300 new cards to the game,
    and change the way the game is played.
</p>
<p>
    Not all cards are created equally. Cards are broken down into rarity, 
    and this rarity determines how many are printed. Sets usually include 121 common cards, 
    80 uncommon cards, and 53 rare cards, and 15 mythic rare cards. In every pack of magic cards,
    you get ten commons, three uncommons, and one rare. One in every eight packs has it's
    rare card replaced with a mythic rare card.
</p>
<h2>Sets in standard</h2>
<ul style="grid-template-columns: repeat(4, 1fr);display: grid;">
    <li><a href="/setinfo/znr">Zendikar Rising</a></li>
    <li><a href="/setinfo/khm">Kaldheim</a></li>
    <li><a href="/setinfo/stx">Strixhaven: School of Mages</a></li>
    <li><a href="/setinfo/afr">Dungeons & Dragons: Adventures in the Forgotten Realms</a></li>
    <li><a href="/setinfo/mid">Innistrad: Midnight Hunt</a></li>
</ul>

<h2>All sets</h2>
<ul style="grid-template-columns: repeat(4, 1fr);display: grid;">
{% for name in setnames %}
<li><a href="/setinfo/{{name[1]}}">{{name[0]}}</a></li>
{% endfor %}
</ul>
{% endblock %}