.speech-bubble {
    position: relative;
    background: #b7d9dc;
    border-radius: .4em;
    padding: 20px;
    margin:40px;
    transition: transform .2s;
}
    .speech-bubble:hover {
        transform: scale(1.1);
    }

    .cardim {
        transition: transform .2s;
    }
    .cardim:hover {
        transform: scale(1.1);
    }

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: #b7d9dc;
    border-top: 0;
    margin-left: -30px;
    margin-top: -30px;
    
}